{% extends 'base.html' %}
{% load static %}
{% block content %}
 <div class="row">
<div class="container">
    <div class="category-container">
        {% for subcategory in subcategories %}
        <!-- Category Item 1 -->
        <div class="category-item">
            <img src="{{ subcategory.image.url}}" alt="{{ subcategory.title }}">
             <a href="{% url 'trendshop_website:subcategory_list' subcategory.id %}">{{ subcategory.title }}</a>
        </div>
        {% endfor %}
    </div>
</div>

<!--    Carousel-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" id="carousel_slide">
        <div class="carousel-item active" >
            <img class="d-block w-100" src="{% static 'images/carousel_1.webp' %}" alt="First slide">
        </div>
        <div class="carousel-item" >
            <a href="{% url 'trendshop_website:product_list' 19 %}"><img class="d-block w-100" src="{% static 'images/carousel_2.webp' %}"  alt="Second slide"></a>
        </div>
        <div class="carousel-item">
            <a href="{% url 'trendshop_website:product_list' 11 %}"><img class="d-block w-100" src="{% static 'images/carousel_3.webp' %}"  alt="Third slide"></a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="card" style="width: 9rem;">
            <div class="card-body">
                <a href="{% url 'trendshop_website:product_list' 11 %}"><img src="{% static 'images/vivo_T3X.webp' %}"  alt="" height="145" width="113"></a>
                <div class="card-text-container">

                    <p style="text-align: center">Vivo T3X 5G</p>
                    <p style="text-align: center"><b>From ₹12,499</b></p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 9rem;">
            <div class="card-body">
                <a href="{% url 'trendshop_website:product_list' 11 %}"><img src="{% static 'images/motorola_edge.webp' %}" alt="" height="145" width="113"></a>
                <div class="card-text-container">
                    <p style="text-align: center">Motorola Pro</p>
                    <p style="text-align: center"><b>From ₹27,999</b></p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 9rem;">
            <div class="card-body">
                <a href="{% url 'trendshop_website:product_list' 11 %}"><img src="{% static 'images/galaxy_f15.webp' %}" alt="" height="145" width="113"></a>
                <div class="card-text-container">
                    <p style="text-align: center">Galaxy F15 </p>
                    <p style="text-align: center"><b>From ₹10,999</b></p>
                </div>
            </div>
        </div>
         <div class="card" style="width: 9rem;">
            <div class="card-body">
                <a href="{% url 'trendshop_website:product_list' 11 %}"><img src="{% static 'images/realme_p1.webp' %}" alt="" height="145" width="113"></a>
                <div class="card-text-container">
                    <p style="text-align: center">Realme P1</p>
                    <p style="text-align: center"><b>From ₹15,999</b></p>
                </div>
            </div>
        </div>
         <div class="card" style="width: 9rem;">
            <div class="card-body">
                <a href="{% url 'trendshop_website:product_list' 11 %}"><img src="{% static 'images/moto_g34.webp' %}" alt="" height="145" width="113"></a>
                <div class="card-text-container">
                    <p style="text-align: center">Moto G34</p>
                    <p style="text-align: center"><b>From ₹11,999</b></p>
                </div>
            </div>
        </div>
         <div class="card" style="width: 9rem;">
            <div class="card-body">
                <a href="{% url 'trendshop_website:product_list' 11 %}"><img src="{% static 'images/poco.webp' %}" alt="" height="145" width="113"></a>
                <div class="card-text-container">
                    <p style="text-align: center">Poco M6 Pro</p>
                    <p style="text-align: center"><b>From ₹9,999</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured Brands -->
<div class="container">
    <div class="row" id="featured_carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{% url 'trendshop_website:product_list' 32 %}"><img src="{% static 'images/featured4.webp' %}" class="d-block w-100" alt="First Slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'trendshop_website:product_list' 34 %}"><img src="{% static 'images/featured5.webp' %}" class="d-block w-100" alt="Second Slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'trendshop_website:product_list' 17 %}"><img src="{% static 'images/featured6.webp' %}" class="d-block w-100" alt="Third Slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
         <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{% url 'trendshop_website:subcategory_list' 2 %}"><img src="{% static 'images/featured1.webp' %}" class="d-block w-100 h-auto" alt="First Slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'trendshop_website:subcategory_list' 3 %}"><img src="{% static 'images/featured2.webp' %}" class="d-block w-100" alt="Second Slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'trendshop_website:product_list' 33 %}"><img src="{% static 'images/featured3.webp' %}" class="d-block w-100" alt="Third Slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
        <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="{% url 'trendshop_website:subcategory_list' 5 %}"><img src="{% static 'images/featured7.webp' %}" class="d-block w-100" alt="First Slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'trendshop_website:subcategory_list' 10 %}"><img src="{% static 'images/featured8.webp' %}" class="d-block w-100" alt="Second Slide"></a>
                    </div>
                    <div class="carousel-item">
                        <a href="{% url 'trendshop_website:subcategory_list' 5 %}"><img src="{% static 'images/featured9.webp' %}" class="d-block w-100" alt="Third Slide"></a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
    </div>
</div>

<link type="text/css" rel="stylesheet" href="{% static 'css/website.css' %}"/>
{% endblock content %}
