{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" id="add-category">
    <h1 class="my-4">Add Category</h1>
    <form method="post" enctype="multipart/form-data" class="my-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Add Category</button>
    </form><br>

</div>
<link type="text/css" rel="stylesheet" href="{% static 'css/website.css' %}" />
<style>
    .my-form {
        margin-top: 20px;
    }
    .my-form .form-group {
        
        margin-bottom: 20px;
    }
    .my-form label {
        
        font-weight: bold;
    }
    .my-form input[type="text"],
    .my-form textarea {
        
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>
{% endblock content %}
