{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<!--Create User Address-->
<div class="card">
    <div class="row">
        <div class="col-md-12 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h3 style="color: rgba(11, 122, 114, 1);">UPDATE ADDRESS</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row main align-items-center">
                    <div class="col-12" style="width: 100%">
                        <form method="POST" id="updateAddress">
                            {% csrf_token %}
                            {% if form.errors %}
                            {% for key, error in form.errors.items %}
                            <h6>{{ error }}</h6>
                            {% endfor %}
                            {% endif %}
                            <label class="label" style="color: rgba(11, 122, 114, 1)">Address</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="address-icon">
                                    <i class="fa-solid fa-home" style="color: #0b7a72;"></i>
                                </span>
                                {% render_field form.address aria-describedby="address-icon" %}
                            </div>
                            <label class="label" style="color: rgba(11, 122, 114, 1)">Pincode</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="pincode-icon">
                                    <i class="fa-solid fa-map-pin" style="color: #0b7a72;"></i>
                                </span>
                                {% render_field form.pincode aria-describedby="pincode-icon" %}
                            </div>
                            <label class="label" style="color: rgba(11, 122, 114, 1)">City</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="city-icon">
                                    <i class="fa-solid fa-location-dot" style="color: #0b7a72;"></i>
                                </span>
                                {% render_field form.city aria-describedby="city-icon" %}
                            </div>
                            <label class="label" style="color: rgba(11, 122, 114, 1)">State</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="state-icon">
                                    <i class="fa-solid fa-location-dot" style="color: #0b7a72;"></i>
                                </span>
                                {% render_field form.state aria-describedby="state-icon" %}
                            </div>
                            <div class="col-mb-3">
                                <label class="label" style="color: rgba(11, 122, 114, 1)">Type</label>
                                {{ form.type }}
                            </div>
                            <br>
                            <div style="display: flex; justify-content:flex-end">
                                <div style="display: flex; justify-content:flex-end">
                                    <button type="button" class="btn btn-outline-primary"
                                        onclick="getResponseForAddressUpdate()">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>


<link type="text/css" rel="stylesheet" href="{% static 'css/user_address.css' %}" />
{% endblock content %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extrajs %}
{{ block.super }}
<script src="{% static 'user/js/user.js' %}"></script>

{% endblock %}